@font-face {
  font-family: 'XingKai';
  font-display: swap;
  src: url("../fonts/XingKai.ttf") format('truetype');
}
@font-face {
  font-family: 'MaShanZheng';
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap");
  src: local('Ma Shan Zheng'), url("../fonts/MaShanZheng-Regular.ttf") format('truetype');
}
